In [3]:
train1=r'C:\\Users\\shraddha\\Desktop\\ds\\LTFS\\train\\train.csv'
test1=r'C:\\Users\\shraddha\\Desktop\\ds\\LTFS\\test.csv'

In [4]:
import pandas as pd
import numpy as np

In [5]:
train=pd.read_csv(train1)
test=pd.read_csv(test1)
test2=pd.read_csv(test1)

In [6]:
test.head()

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment.Type,...,SEC.CURRENT.BALANCE,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES
0,655269,53478,63558,86.54,67,22807,45,1497,01-01-74,Salaried,...,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0
1,723482,55513,63163,89.45,67,22807,45,1497,20-05-85,Self employed,...,0,0,0,5605,0,1,0,0yrs 8mon,1yrs 0mon,1
2,758529,65282,84320,79.93,78,23135,86,2071,14-10-95,Salaried,...,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0
3,763449,46905,63896,76.58,78,17014,45,2070,01-06-73,Self employed,...,0,0,0,0,0,0,0,2yrs 5mon,2yrs 5mon,0
4,708663,51428,63896,86.08,78,17014,45,2069,01-06-72,Salaried,...,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0

In [5]:
train.columns

Index(['UniqueID', 'disbursed_amount', 'asset_cost', 'ltv', 'branch_id',
       'supplier_id', 'manufacturer_id', 'Current_pincode_ID', 'Date.of.Birth',
       'Employment.Type', 'DisbursalDate', 'State_ID', 'Employee_code_ID',
       'MobileNo_Avl_Flag', 'Aadhar_flag', 'PAN_flag', 'VoterID_flag',
       'Driving_flag', 'Passport_flag', 'PERFORM_CNS.SCORE',
       'PERFORM_CNS.SCORE.DESCRIPTION', 'PRI.NO.OF.ACCTS', 'PRI.ACTIVE.ACCTS',
       'PRI.OVERDUE.ACCTS', 'PRI.CURRENT.BALANCE', 'PRI.SANCTIONED.AMOUNT',
       'PRI.DISBURSED.AMOUNT', 'SEC.NO.OF.ACCTS', 'SEC.ACTIVE.ACCTS',
       'SEC.OVERDUE.ACCTS', 'SEC.CURRENT.BALANCE', 'SEC.SANCTIONED.AMOUNT',
       'SEC.DISBURSED.AMOUNT', 'PRIMARY.INSTAL.AMT', 'SEC.INSTAL.AMT',
       'NEW.ACCTS.IN.LAST.SIX.MONTHS', 'DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS',
       'AVERAGE.ACCT.AGE', 'CREDIT.HISTORY.LENGTH', 'NO.OF_INQUIRIES',
       'loan_default'],
      dtype='object')

In [6]:
test.columns

Index(['UniqueID', 'disbursed_amount', 'asset_cost', 'ltv', 'branch_id',
       'supplier_id', 'manufacturer_id', 'Current_pincode_ID', 'Date.of.Birth',
       'Employment.Type', 'DisbursalDate', 'State_ID', 'Employee_code_ID',
       'MobileNo_Avl_Flag', 'Aadhar_flag', 'PAN_flag', 'VoterID_flag',
       'Driving_flag', 'Passport_flag', 'PERFORM_CNS.SCORE',
       'PERFORM_CNS.SCORE.DESCRIPTION', 'PRI.NO.OF.ACCTS', 'PRI.ACTIVE.ACCTS',
       'PRI.OVERDUE.ACCTS', 'PRI.CURRENT.BALANCE', 'PRI.SANCTIONED.AMOUNT',
       'PRI.DISBURSED.AMOUNT', 'SEC.NO.OF.ACCTS', 'SEC.ACTIVE.ACCTS',
       'SEC.OVERDUE.ACCTS', 'SEC.CURRENT.BALANCE', 'SEC.SANCTIONED.AMOUNT',
       'SEC.DISBURSED.AMOUNT', 'PRIMARY.INSTAL.AMT', 'SEC.INSTAL.AMT',
       'NEW.ACCTS.IN.LAST.SIX.MONTHS', 'DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS',
       'AVERAGE.ACCT.AGE', 'CREDIT.HISTORY.LENGTH', 'NO.OF_INQUIRIES'],
      dtype='object')

In [7]:
train['data']='train'
test['data']='test'
test['loan_default']=np.nan

In [8]:
all_data=pd.concat([train,test],axis=0)

In [9]:
all_data.dtypes

AVERAGE.ACCT.AGE                        object
Aadhar_flag                              int64
CREDIT.HISTORY.LENGTH                   object
Current_pincode_ID                       int64
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS      int64
Date.of.Birth                           object
DisbursalDate                           object
Driving_flag                             int64
Employee_code_ID                         int64
Employment.Type                         object
MobileNo_Avl_Flag                        int64
NEW.ACCTS.IN.LAST.SIX.MONTHS             int64
NO.OF_INQUIRIES                          int64
PAN_flag                                 int64
PERFORM_CNS.SCORE                        int64
PERFORM_CNS.SCORE.DESCRIPTION           object
PRI.ACTIVE.ACCTS                         int64
PRI.CURRENT.BALANCE                      int64
PRI.DISBURSED.AMOUNT                     int64
PRI.NO.OF.ACCTS                          int64
PRI.OVERDUE.ACCTS                        int64
PRI.SANCTIONED.AMOUNT                    int64
PRIMARY.INSTAL.AMT                       int64
Passport_flag                            int64
SEC.ACTIVE.ACCTS                         int64
SEC.CURRENT.BALANCE                      int64
SEC.DISBURSED.AMOUNT                     int64
SEC.INSTAL.AMT                           int64
SEC.NO.OF.ACCTS                          int64
SEC.OVERDUE.ACCTS                        int64
SEC.SANCTIONED.AMOUNT                    int64
State_ID                                 int64
UniqueID                                 int64
VoterID_flag                             int64
asset_cost                               int64
branch_id                                int64
data                                    object
disbursed_amount                         int64
loan_default                           float64
ltv                                    float64
manufacturer_id                          int64
supplier_id                              int64
dtype: object

In [10]:
all_data['AVERAGE.ACCT.AGE']

0          0yrs 0mon
1         1yrs 11mon
2          0yrs 0mon
3          0yrs 8mon
4          0yrs 0mon
5          1yrs 9mon
6          0yrs 0mon
7          0yrs 2mon
8          4yrs 8mon
9          1yrs 7mon
10         0yrs 7mon
11         2yrs 1mon
12         1yrs 3mon
13         1yrs 0mon
14        3yrs 11mon
15         0yrs 1mon
16         2yrs 6mon
17        1yrs 10mon
18         1yrs 9mon
19        0yrs 11mon
20         0yrs 6mon
21         2yrs 9mon
22         0yrs 0mon
23         1yrs 3mon
24         0yrs 0mon
25         0yrs 0mon
26         0yrs 0mon
27         0yrs 0mon
28         3yrs 1mon
29         2yrs 0mon
             ...
112362     0yrs 3mon
112363     0yrs 0mon
112364     1yrs 9mon
112365     3yrs 7mon
112366     0yrs 0mon
112367     0yrs 0mon
112368     0yrs 0mon
112369     0yrs 6mon
112370     0yrs 2mon
112371     0yrs 0mon
112372     0yrs 0mon
112373     0yrs 0mon
112374    0yrs 10mon
112375     0yrs 0mon
112376     0yrs 0mon
112377    0yrs 10mon
112378     0yrs 0mon
112379     0yrs 0mon
112380     0yrs 0mon
112381     0yrs 9mon
112382     0yrs 0mon
112383    3yrs 10mon
112384     0yrs 0mon
112385     0yrs 0mon
112386     1yrs 1mon
112387     0yrs 0mon
112388     0yrs 0mon
112389    4yrs 10mon
112390     0yrs 3mon
112391     0yrs 0mon
Name: AVERAGE.ACCT.AGE, Length: 345546, dtype: object

In [11]:
all_data['AVERAGE.ACCT.AGE'].str.extract('(\d+)')

G:\Data Sci\Python\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.

0         0
1         1
2         0
3         0
4         0
5         1
6         0
7         0
8         4
9         1
10        0
11        2
12        1
13        1
14        3
15        0
16        2
17        1
18        1
19        0
20        0
21        2
22        0
23        1
24        0
25        0
26        0
27        0
28        3
29        2
         ..
112362    0
112363    0
112364    1
112365    3
112366    0
112367    0
112368    0
112369    0
112370    0
112371    0
112372    0
112373    0
112374    0
112375    0
112376    0
112377    0
112378    0
112379    0
112380    0
112381    0
112382    0
112383    3
112384    0
112385    0
112386    1
112387    0
112388    0
112389    4
112390    0
112391    0
Name: AVERAGE.ACCT.AGE, Length: 345546, dtype: object

In [11]:
all_data['AVERAGE.ACCT.AGE.yr']=pd.to_numeric(all_data['AVERAGE.ACCT.AGE'].str.extract('(\d+)'))

G:\Data Sci\Python\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.

In [12]:
all_data.head(10)

,AVERAGE.ACCT.AGE,Aadhar_flag,CREDIT.HISTORY.LENGTH,Current_pincode_ID,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,Date.of.Birth,DisbursalDate,Driving_flag,Employee_code_ID,Employment.Type,...,VoterID_flag,asset_cost,branch_id,data,disbursed_amount,loan_default,ltv,manufacturer_id,supplier_id,AVERAGE.ACCT.AGE.yr
0,0yrs 0mon,1,0yrs 0mon,1441,0,01-01-84,03-08-18,0,1998,Salaried,...,0,58400,67,train,50578,0.0,89.55,45,22807,0
1,1yrs 11mon,1,1yrs 11mon,1502,1,31-07-85,26-09-18,0,1998,Self employed,...,0,65550,67,train,47145,1.0,73.23,45,22807,1
2,0yrs 0mon,1,0yrs 0mon,1497,0,24-08-85,01-08-18,0,1998,Self employed,...,0,61360,67,train,53278,0.0,89.63,45,22807,0
3,0yrs 8mon,1,1yrs 3mon,1501,0,30-12-93,26-10-18,0,1998,Self employed,...,0,66113,67,train,57513,1.0,88.48,45,22807,0
4,0yrs 0mon,1,0yrs 0mon,1495,0,09-12-77,26-09-18,0,1998,Self employed,...,0,60300,67,train,52378,1.0,88.39,45,22807,0
5,1yrs 9mon,1,2yrs 0mon,1501,0,08-09-90,19-09-18,0,1998,Self employed,...,0,61900,67,train,54513,0.0,89.66,45,22807,1
6,0yrs 0mon,1,0yrs 0mon,1502,0,01-06-88,23-09-18,0,1998,Salaried,...,0,61500,67,train,46349,0.0,76.42,45,22807,0
7,0yrs 2mon,1,0yrs 2mon,1501,0,04-10-89,16-09-18,0,1998,Salaried,...,0,61900,67,train,43894,0.0,71.89,45,22807,0
8,4yrs 8mon,1,4yrs 8mon,1497,0,15-11-91,05-09-18,0,1998,Self employed,...,0,61973,67,train,53713,0.0,89.56,45,22807,4
9,1yrs 7mon,0,1yrs 7mon,1492,0,01-06-68,16-09-18,0,1998,Salaried,...,1,61300,67,train,52603,0.0,86.95,45,22807,1

In [13]:
pd.to_numeric(all_data['AVERAGE.ACCT.AGE'].str.extract('(\d+)'))

G:\Data Sci\Python\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.

0         0
1         1
2         0
3         0
4         0
5         1
6         0
7         0
8         4
9         1
10        0
11        2
12        1
13        1
14        3
15        0
16        2
17        1
18        1
19        0
20        0
21        2
22        0
23        1
24        0
25        0
26        0
27        0
28        3
29        2
         ..
112362    0
112363    0
112364    1
112365    3
112366    0
112367    0
112368    0
112369    0
112370    0
112371    0
112372    0
112373    0
112374    0
112375    0
112376    0
112377    0
112378    0
112379    0
112380    0
112381    0
112382    0
112383    3
112384    0
112385    0
112386    1
112387    0
112388    0
112389    4
112390    0
112391    0
Name: AVERAGE.ACCT.AGE, Length: 345546, dtype: int64

In [14]:
all_data['AVERAGE.ACCT.AGE.yr']=pd.to_numeric(all_data['AVERAGE.ACCT.AGE'].str.extract('(\d+)'))

G:\Data Sci\Python\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.

In [15]:
all_data['AVERAGE.ACCT.AGE.mon']=all_data['AVERAGE.ACCT.AGE'].str.extract(r'\b(\w+)$')

G:\Data Sci\Python\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.

In [16]:

all_data['AVERAGE.ACCT.AGE.mon']=pd.to_numeric(all_data['AVERAGE.ACCT.AGE.mon'].str.replace('mon',''))

In [17]:
all_data['AVERAGE.ACCT.AGE']=(all_data['AVERAGE.ACCT.AGE.yr']*12)+all_data['AVERAGE.ACCT.AGE.mon']

In [18]:
del all_data['AVERAGE.ACCT.AGE.yr']
del all_data['AVERAGE.ACCT.AGE.mon']

In [20]:
all_data.head()

,AVERAGE.ACCT.AGE,Aadhar_flag,CREDIT.HISTORY.LENGTH,Current_pincode_ID,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,Date.of.Birth,DisbursalDate,Driving_flag,Employee_code_ID,Employment.Type,...,UniqueID,VoterID_flag,asset_cost,branch_id,data,disbursed_amount,loan_default,ltv,manufacturer_id,supplier_id
0,0,1,0yrs 0mon,1441,0,01-01-84,03-08-18,0,1998,Salaried,...,420825,0,58400,67,train,50578,0.0,89.55,45,22807
1,23,1,1yrs 11mon,1502,1,31-07-85,26-09-18,0,1998,Self employed,...,537409,0,65550,67,train,47145,1.0,73.23,45,22807
2,0,1,0yrs 0mon,1497,0,24-08-85,01-08-18,0,1998,Self employed,...,417566,0,61360,67,train,53278,0.0,89.63,45,22807
3,8,1,1yrs 3mon,1501,0,30-12-93,26-10-18,0,1998,Self employed,...,624493,0,66113,67,train,57513,1.0,88.48,45,22807
4,0,1,0yrs 0mon,1495,0,09-12-77,26-09-18,0,1998,Self employed,...,539055,0,60300,67,train,52378,1.0,88.39,45,22807

In [19]:
all_data['CREDIT.HISTORY.LENGTH.yr']=pd.to_numeric(all_data['CREDIT.HISTORY.LENGTH'].str.extract('(\d+)'))

G:\Data Sci\Python\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.

In [20]:
all_data['CREDIT.HISTORY.LENGTH.mon']=all_data['CREDIT.HISTORY.LENGTH'].str.extract(r'\b(\w+)$')

G:\Data Sci\Python\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.

In [21]:
all_data['CREDIT.HISTORY.LENGTH.mon']=pd.to_numeric(all_data['CREDIT.HISTORY.LENGTH.mon'].str.replace('mon',''))

In [22]:
all_data['CREDIT.HISTORY.LENGTH']=(all_data['CREDIT.HISTORY.LENGTH.yr']*12)+all_data['CREDIT.HISTORY.LENGTH.mon']

In [23]:
del all_data['CREDIT.HISTORY.LENGTH.yr']
del all_data['CREDIT.HISTORY.LENGTH.mon']

In [24]:
all_data['PERFORM_CNS.SCORE.DESCRIPTION'].value_counts()

No Bureau History Available                                174843
C-Very Low Risk                                             23870
A-Very Low Risk                                             21683
D-Very Low Risk                                             16472
B-Very Low Risk                                             13696
M-Very High Risk                                            12808
F-Low Risk                                                  12176
K-High Risk                                                 12141
H-Medium Risk                                               10142
E-Low Risk                                                   8393
I-Medium Risk                                                8260
G-Low Risk                                                   5795
J-High Risk                                                  5526
Not Scored: Sufficient History Not Available                 5025
Not Scored: Not Enough Info available on the customer        4940
Not Scored: No Activity seen on the customer (Inactive)      4246
Not Scored: No Updates available in last 36 months           2299
L-Very High Risk                                             1782
Not Scored: Only a Guarantor                                 1446
Not Scored: More than 50 active Accounts found                  3
Name: PERFORM_CNS.SCORE.DESCRIPTION, dtype: int64

In [27]:
all_data['DisbursalDate']=pd.to_datetime(all_data['DisbursalDate']).dt.strftime("%Y%m%d")

In [28]:
all_data['DisbursalDate']=pd.to_numeric(all_data['DisbursalDate'])

In [29]:
all_data['Date.of.Birth']=pd.to_datetime(all_data['Date.of.Birth']).dt.strftime("%Y%m%d")

In [30]:
all_data['Date.of.Birth']=pd.to_numeric(all_data['Date.of.Birth'])

In [31]:
cat_vars=all_data.select_dtypes(['object']).columns

In [32]:
cat_vars

Index(['Employment.Type', 'PERFORM_CNS.SCORE.DESCRIPTION', 'data'], dtype='object')

In [33]:
for col in cat_vars[:-1]:
    dummy=pd.get_dummies(all_data[col],drop_first=True,prefix=col)
    all_data=pd.concat([all_data,dummy],axis=1)
    del all_data[col]
    print(col)
del dummy

Employment.Type
PERFORM_CNS.SCORE.DESCRIPTION

In [34]:
all_data.dtypes

AVERAGE.ACCT.AGE                                                                           int64
Aadhar_flag                                                                                int64
CREDIT.HISTORY.LENGTH                                                                      int64
Current_pincode_ID                                                                         int64
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS                                                        int64
Date.of.Birth                                                                              int64
DisbursalDate                                                                              int64
Driving_flag                                                                               int64
Employee_code_ID                                                                           int64
MobileNo_Avl_Flag                                                                          int64
NEW.ACCTS.IN.LAST.SIX.MONTHS                                                               int64
NO.OF_INQUIRIES                                                                            int64
PAN_flag                                                                                   int64
PERFORM_CNS.SCORE                                                                          int64
PRI.ACTIVE.ACCTS                                                                           int64
PRI.CURRENT.BALANCE                                                                        int64
PRI.DISBURSED.AMOUNT                                                                       int64
PRI.NO.OF.ACCTS                                                                            int64
PRI.OVERDUE.ACCTS                                                                          int64
PRI.SANCTIONED.AMOUNT                                                                      int64
PRIMARY.INSTAL.AMT                                                                         int64
Passport_flag                                                                              int64
SEC.ACTIVE.ACCTS                                                                           int64
SEC.CURRENT.BALANCE                                                                        int64
SEC.DISBURSED.AMOUNT                                                                       int64
SEC.INSTAL.AMT                                                                             int64
SEC.NO.OF.ACCTS                                                                            int64
SEC.OVERDUE.ACCTS                                                                          int64
SEC.SANCTIONED.AMOUNT                                                                      int64
State_ID                                                                                   int64
UniqueID                                                                                   int64
VoterID_flag                                                                               int64
asset_cost                                                                                 int64
branch_id                                                                                  int64
data                                                                                      object
disbursed_amount                                                                           int64
loan_default                                                                             float64
ltv                                                                                      float64
manufacturer_id                                                                            int64
supplier_id                                                                                int64
Employment.Type_Self employed                                                              uint8
PERFORM_CNS.SCORE.DESCRIPTION_B-Very Low Risk                                              uint8
PERFORM_CNS.SCORE.DESCRIPTION_C-Very Low Risk                                              uint8
PERFORM_CNS.SCORE.DESCRIPTION_D-Very Low Risk                                              uint8
PERFORM_CNS.SCORE.DESCRIPTION_E-Low Risk                                                   uint8
PERFORM_CNS.SCORE.DESCRIPTION_F-Low Risk                                                   uint8
PERFORM_CNS.SCORE.DESCRIPTION_G-Low Risk                                                   uint8
PERFORM_CNS.SCORE.DESCRIPTION_H-Medium Risk                                                uint8
PERFORM_CNS.SCORE.DESCRIPTION_I-Medium Risk                                                uint8
PERFORM_CNS.SCORE.DESCRIPTION_J-High Risk                                                  uint8
PERFORM_CNS.SCORE.DESCRIPTION_K-High Risk                                                  uint8
PERFORM_CNS.SCORE.DESCRIPTION_L-Very High Risk                                             uint8
PERFORM_CNS.SCORE.DESCRIPTION_M-Very High Risk                                             uint8
PERFORM_CNS.SCORE.DESCRIPTION_No Bureau History Available                                  uint8
PERFORM_CNS.SCORE.DESCRIPTION_Not Scored: More than 50 active Accounts found               uint8
PERFORM_CNS.SCORE.DESCRIPTION_Not Scored: No Activity seen on the customer (Inactive)      uint8
PERFORM_CNS.SCORE.DESCRIPTION_Not Scored: No Updates available in last 36 months           uint8
PERFORM_CNS.SCORE.DESCRIPTION_Not Scored: Not Enough Info available on the customer        uint8
PERFORM_CNS.SCORE.DESCRIPTION_Not Scored: Only a Guarantor                                 uint8
PERFORM_CNS.SCORE.DESCRIPTION_Not Scored: Sufficient History Not Available                 uint8
dtype: object

In [35]:
all_data['loan_default'].value_counts()

0.0    182543
1.0     50611
Name: loan_default, dtype: int64

In [36]:
all_data.isnull().sum()

AVERAGE.ACCT.AGE                                                                              0
Aadhar_flag                                                                                   0
CREDIT.HISTORY.LENGTH                                                                         0
Current_pincode_ID                                                                            0
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS                                                           0
Date.of.Birth                                                                                 0
DisbursalDate                                                                                 0
Driving_flag                                                                                  0
Employee_code_ID                                                                              0
MobileNo_Avl_Flag                                                                             0
NEW.ACCTS.IN.LAST.SIX.MONTHS                                                                  0
NO.OF_INQUIRIES                                                                               0
PAN_flag                                                                                      0
PERFORM_CNS.SCORE                                                                             0
PRI.ACTIVE.ACCTS                                                                              0
PRI.CURRENT.BALANCE                                                                           0
PRI.DISBURSED.AMOUNT                                                                          0
PRI.NO.OF.ACCTS                                                                               0
PRI.OVERDUE.ACCTS                                                                             0
PRI.SANCTIONED.AMOUNT                                                                         0
PRIMARY.INSTAL.AMT                                                                            0
Passport_flag                                                                                 0
SEC.ACTIVE.ACCTS                                                                              0
SEC.CURRENT.BALANCE                                                                           0
SEC.DISBURSED.AMOUNT                                                                          0
SEC.INSTAL.AMT                                                                                0
SEC.NO.OF.ACCTS                                                                               0
SEC.OVERDUE.ACCTS                                                                             0
SEC.SANCTIONED.AMOUNT                                                                         0
State_ID                                                                                      0
UniqueID                                                                                      0
VoterID_flag                                                                                  0
asset_cost                                                                                    0
branch_id                                                                                     0
data                                                                                          0
disbursed_amount                                                                              0
loan_default                                                                             112392
ltv                                                                                           0
manufacturer_id                                                                               0
supplier_id                                                                                   0
Employment.Type_Self employed                                                                 0
PERFORM_CNS.SCORE.DESCRIPTION_B-Very Low Risk                                                 0
PERFORM_CNS.SCORE.DESCRIPTION_C-Very Low Risk                                                 0
PERFORM_CNS.SCORE.DESCRIPTION_D-Very Low Risk                                                 0
PERFORM_CNS.SCORE.DESCRIPTION_E-Low Risk                                                      0
PERFORM_CNS.SCORE.DESCRIPTION_F-Low Risk                                                      0
PERFORM_CNS.SCORE.DESCRIPTION_G-Low Risk                                                      0
PERFORM_CNS.SCORE.DESCRIPTION_H-Medium Risk                                                   0
PERFORM_CNS.SCORE.DESCRIPTION_I-Medium Risk                                                   0
PERFORM_CNS.SCORE.DESCRIPTION_J-High Risk                                                     0
PERFORM_CNS.SCORE.DESCRIPTION_K-High Risk                                                     0
PERFORM_CNS.SCORE.DESCRIPTION_L-Very High Risk                                                0
PERFORM_CNS.SCORE.DESCRIPTION_M-Very High Risk                                                0
PERFORM_CNS.SCORE.DESCRIPTION_No Bureau History Available                                     0
PERFORM_CNS.SCORE.DESCRIPTION_Not Scored: More than 50 active Accounts found                  0
PERFORM_CNS.SCORE.DESCRIPTION_Not Scored: No Activity seen on the customer (Inactive)         0
PERFORM_CNS.SCORE.DESCRIPTION_Not Scored: No Updates available in last 36 months              0
PERFORM_CNS.SCORE.DESCRIPTION_Not Scored: Not Enough Info available on the customer           0
PERFORM_CNS.SCORE.DESCRIPTION_Not Scored: Only a Guarantor                                    0
PERFORM_CNS.SCORE.DESCRIPTION_Not Scored: Sufficient History Not Available                    0
dtype: int64

In [37]:
del all_data['UniqueID']

In [38]:
train=all_data[all_data['data']=='train']

In [39]:
del train['data']

In [40]:
test=all_data[all_data['data']=='test']

In [41]:
test.drop(['loan_default','data'],axis=1,inplace=True)

G:\Data Sci\Python\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [43]:
train.head()

,AVERAGE.ACCT.AGE,Aadhar_flag,CREDIT.HISTORY.LENGTH,Current_pincode_ID,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,Date.of.Birth,DisbursalDate,Driving_flag,Employee_code_ID,MobileNo_Avl_Flag,...,PERFORM_CNS.SCORE.DESCRIPTION_K-High Risk,PERFORM_CNS.SCORE.DESCRIPTION_L-Very High Risk,PERFORM_CNS.SCORE.DESCRIPTION_M-Very High Risk,PERFORM_CNS.SCORE.DESCRIPTION_No Bureau History Available,PERFORM_CNS.SCORE.DESCRIPTION_Not Scored: More than 50 active Accounts found,PERFORM_CNS.SCORE.DESCRIPTION_Not Scored: No Activity seen on the customer (Inactive),PERFORM_CNS.SCORE.DESCRIPTION_Not Scored: No Updates available in last 36 months,PERFORM_CNS.SCORE.DESCRIPTION_Not Scored: Not Enough Info available on the customer,PERFORM_CNS.SCORE.DESCRIPTION_Not Scored: Only a Guarantor,PERFORM_CNS.SCORE.DESCRIPTION_Not Scored: Sufficient History Not Available
0,0,1,0,1441,0,19840101,20180308,0,1998,1,...,0,0,0,1,0,0,0,0,0,0
1,23,1,23,1502,1,19850731,20180926,0,1998,1,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,1497,0,19850824,20180108,0,1998,1,...,0,0,0,1,0,0,0,0,0,0
3,8,1,15,1501,0,19931230,20181026,0,1998,1,...,0,1,0,0,0,0,0,0,0,0
4,0,1,0,1495,0,19770912,20180926,0,1998,1,...,0,0,0,1,0,0,0,0,0,0

In [42]:
del all_data

In [43]:
from sklearn.model_selection import RandomizedSearchCV
from xgboost.sklearn import XGBClassifier

In [44]:
xgb_params = {  
                "learning_rate":[0.01,0.05,0.1,0.3,0.5],
                "gamma":[i/10.0 for i in range(0,5)],
                "max_depth": [2,3,4,5,6,7,8],
                "min_child_weight":[1,2,5,10],
                "max_delta_step":[0,1,2,5,10],
                "subsample":[i/10.0 for i in range(5,10)],
                "colsample_bytree":[i/10.0 for i in range(5,10)],
                "colsample_bylevel":[i/10.0 for i in range(5,10)],
                "reg_lambda":[1e-5, 1e-2, 0.1, 1, 100], 
                "reg_alpha":[1e-5, 1e-2, 0.1, 1, 100],
                "scale_pos_weight":[1,2,3,4,5,6,7,8,9],
                "n_estimators":[100,500,700,1000]
             }

In [45]:
xgb=XGBClassifier(objective='binary:logistic')

In [46]:
n_iter=10

random_search=RandomizedSearchCV(xgb,n_jobs=-1,cv=5,n_iter=n_iter,scoring='roc_auc',
                                 param_distributions=xgb_params)

In [47]:
x_train=train.drop('loan_default',axis=1)


y_train=train['loan_default']

In [48]:
random_search.fit(x_train,y_train)

RandomizedSearchCV(cv=5, error_score='raise',
          estimator=XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1),
          fit_params=None, iid=True, n_iter=10, n_jobs=-1,
          param_distributions={'learning_rate': [0.01, 0.05, 0.1, 0.3, 0.5], 'gamma': [0.0, 0.1, 0.2, 0.3, 0.4], 'max_depth': [2, 3, 4, 5, 6, 7, 8], 'min_child_weight': [1, 2, 5, 10], 'max_delta_step': [0, 1, 2, 5, 10], 'subsample': [0.5, 0.6, 0.7, 0.8, 0.9], 'colsample_bytree': [0.5, 0.6, 0.7, 0.8, 0.9], 'co....1, 1, 100], 'scale_pos_weight': [1, 2, 3, 4, 5, 6, 7, 8, 9], 'n_estimators': [100, 500, 700, 1000]},
          pre_dispatch='2*n_jobs', random_state=None, refit=True,
          return_train_score='warn', scoring='roc_auc', verbose=0)

In [50]:
random_search.best_estimator_

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=0.9,
       colsample_bytree=0.6, gamma=0.2, learning_rate=0.01,
       max_delta_step=5, max_depth=3, min_child_weight=1, missing=None,
       n_estimators=700, n_jobs=1, nthread=None,
       objective='binary:logistic', random_state=0, reg_alpha=0.01,
       reg_lambda=0.01, scale_pos_weight=5, seed=None, silent=True,
       subsample=0.5)

In [51]:
logr=random_search.best_estimator_

In [52]:
def report(results, n_top=3):
    for i in range(1, n_top + 1):
        candidates = np.flatnonzero(results['rank_test_score'] == i)
        for candidate in candidates:
            print("Model with rank: {0}".format(i))
            print("Mean validation score: {0:.3f} (std: {1:.3f})".format(
                results['mean_test_score'][candidate],
                results['std_test_score'][candidate]))
            print("Parameters: {0}".format(results['params'][candidate]))
            print("")

In [53]:
report(random_search.cv_results_,5)

Model with rank: 1
Mean validation score: 0.646 (std: 0.009)
Parameters: {'subsample': 0.5, 'scale_pos_weight': 5, 'reg_lambda': 0.01, 'reg_alpha': 0.01, 'n_estimators': 700, 'min_child_weight': 1, 'max_depth': 3, 'max_delta_step': 5, 'learning_rate': 0.01, 'gamma': 0.2, 'colsample_bytree': 0.6, 'colsample_bylevel': 0.9}

Model with rank: 2
Mean validation score: 0.644 (std: 0.010)
Parameters: {'subsample': 0.8, 'scale_pos_weight': 4, 'reg_lambda': 1e-05, 'reg_alpha': 1e-05, 'n_estimators': 700, 'min_child_weight': 2, 'max_depth': 4, 'max_delta_step': 0, 'learning_rate': 0.01, 'gamma': 0.2, 'colsample_bytree': 0.8, 'colsample_bylevel': 0.9}

Model with rank: 3
Mean validation score: 0.643 (std: 0.010)
Parameters: {'subsample': 0.6, 'scale_pos_weight': 3, 'reg_lambda': 0.1, 'reg_alpha': 1e-05, 'n_estimators': 700, 'min_child_weight': 5, 'max_depth': 5, 'max_delta_step': 1, 'learning_rate': 0.01, 'gamma': 0.1, 'colsample_bytree': 0.9, 'colsample_bylevel': 0.7}

Model with rank: 4
Mean validation score: 0.626 (std: 0.021)
Parameters: {'subsample': 0.5, 'scale_pos_weight': 6, 'reg_lambda': 0.1, 'reg_alpha': 100, 'n_estimators': 1000, 'min_child_weight': 5, 'max_depth': 5, 'max_delta_step': 1, 'learning_rate': 0.1, 'gamma': 0.0, 'colsample_bytree': 0.9, 'colsample_bylevel': 0.7}

Model with rank: 5
Mean validation score: 0.624 (std: 0.018)
Parameters: {'subsample': 0.9, 'scale_pos_weight': 3, 'reg_lambda': 1e-05, 'reg_alpha': 0.01, 'n_estimators': 100, 'min_child_weight': 2, 'max_depth': 7, 'max_delta_step': 1, 'learning_rate': 0.1, 'gamma': 0.2, 'colsample_bytree': 0.9, 'colsample_bylevel': 0.8}

In [54]:
train_score=logr.predict_proba(x_train)[:,1] # we can get the probabilities using predict_proba

In [55]:
train_score

array([0.64708865, 0.6619197 , 0.6676352 , ..., 0.42142305, 0.39622   ,
       0.6006775 ], dtype=float32)

In [57]:
test_score=logr.predict_proba(test)[:,1]
test_score

array([0.64998883, 0.64505196, 0.6468535 , ..., 0.5072458 , 0.6114119 ,
       0.40161678], dtype=float32)

In [58]:
cutoffs=np.linspace(0.01,0.99,99)
cutoffs

array([0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 , 0.11,
       0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 , 0.21, 0.22,
       0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 , 0.31, 0.32, 0.33,
       0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 , 0.41, 0.42, 0.43, 0.44,
       0.45, 0.46, 0.47, 0.48, 0.49, 0.5 , 0.51, 0.52, 0.53, 0.54, 0.55,
       0.56, 0.57, 0.58, 0.59, 0.6 , 0.61, 0.62, 0.63, 0.64, 0.65, 0.66,
       0.67, 0.68, 0.69, 0.7 , 0.71, 0.72, 0.73, 0.74, 0.75, 0.76, 0.77,
       0.78, 0.79, 0.8 , 0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87, 0.88,
       0.89, 0.9 , 0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98, 0.99])

In [59]:
train_score=logr.predict_proba(x_train)[:,1] # the predicted response variable values
real=y_train # the actual response variable values
print(logr.classes_)

[0. 1.]

In [60]:
from sklearn.metrics import fbeta_score

In [61]:
KS_all=[]
for cutoff in cutoffs:
    predicted=(train_score>cutoff).astype(int)
    TP=((predicted==1) & (real==1)).sum()
    TN=((predicted==0) & (real==0)).sum()
    FP=((predicted==1) & (real==0)).sum()
    FN=((predicted==0) & (real==1)).sum()
    P=TP+FN
    N=TN+FP
    KS=(TP/P)-(FP/N)
    KS_all.append(KS)

In [62]:
list(zip(cutoffs,KS_all))

[(0.01, 0.0),
 (0.02, 0.0),
 (0.03, 0.0),
 (0.04, 0.0),
 (0.05, 0.0),
 (0.060000000000000005, 0.0),
 (0.06999999999999999, 0.0),
 (0.08, 0.0),
 (0.09, 0.0),
 (0.09999999999999999, 0.0),
 (0.11, 0.0),
 (0.12, 0.0),
 (0.13, 5.478161309913077e-06),
 (0.14, 1.6434483929850252e-05),
 (0.15000000000000002, 6.025977440926589e-05),
 (0.16, 0.00014243219405840613),
 (0.17, 0.00023556093632737252),
 (0.18000000000000002, 0.0003734990919469494),
 (0.19, 0.0006933865426503871),
 (0.2, 0.00115570618741212),
 (0.21000000000000002, 0.0017264190865167173),
 (0.22, 0.002383612594724527),
 (0.23, 0.003302587873953433),
 (0.24000000000000002, 0.004654523745652228),
 (0.25, 0.006117006966420813),
 (0.26, 0.007854382375557467),
 (0.27, 0.009997939995515903),
 (0.28, 0.01224053109496992),
 (0.29000000000000004, 0.015296230012006529),
 (0.3, 0.018739522561208033),
 (0.31, 0.022508421449354832),
 (0.32, 0.02719610976774578),
 (0.33, 0.03198030577293587),
 (0.34, 0.03780498072904448),
 (0.35000000000000003, 0.04436421075454866),
 (0.36000000000000004, 0.05130265876024154),
 (0.37, 0.05964880837360376),
 (0.38, 0.06891928045646722),
 (0.39, 0.07848187748551483),
 (0.4, 0.0878554292952527),
 (0.41000000000000003, 0.09816229165136947),
 (0.42000000000000004, 0.10836906031202886),
 (0.43, 0.11892002389029055),
 (0.44, 0.12925093177123081),
 (0.45, 0.13957338790710438),
 (0.46, 0.1497892880633398),
 (0.47000000000000003, 0.15972338595596602),
 (0.48000000000000004, 0.16985906072315127),
 (0.49, 0.1782394936833389),
 (0.5, 0.18798428441458026),
 (0.51, 0.19651912367712132),
 (0.52, 0.2044875918928154),
 (0.53, 0.21106729756232345),
 (0.54, 0.2157821769834919),
 (0.55, 0.221071148248295),
 (0.56, 0.2257338055118645),
 (0.5700000000000001, 0.22873217440083493),
 (0.5800000000000001, 0.23142523183318398),
 (0.59, 0.230227692089229),
 (0.6, 0.2282274220882135),
 (0.61, 0.22341120377256585),
 (0.62, 0.21553257476128573),
 (0.63, 0.2065842723806367),
 (0.64, 0.19469263449158217),
 (0.65, 0.1794049207359963),
 (0.66, 0.16041756839121113),
 (0.67, 0.14140186233214846),
 (0.68, 0.12067480340199754),
 (0.6900000000000001, 0.10235803445980768),
 (0.7000000000000001, 0.08482427965445202),
 (0.7100000000000001, 0.06688536919143231),
 (0.72, 0.053859917952189015),
 (0.73, 0.04156113635171177),
 (0.74, 0.032343856694530895),
 (0.75, 0.023663884636783962),
 (0.76, 0.01644058837081272),
 (0.77, 0.009512762332751836),
 (0.78, 0.005385915702128448),
 (0.79, 0.0031497444565689215),
 (0.8, 0.001578103370374987),
 (0.81, 0.0007588288734904403),
 (0.8200000000000001, 0.00030967452402269814),
 (0.8300000000000001, 8.783642994379606e-05),
 (0.8400000000000001, 0.0),
 (0.85, 0.0),
 (0.86, 0.0),
 (0.87, 0.0),
 (0.88, 0.0),
 (0.89, 0.0),
 (0.9, 0.0),
 (0.91, 0.0),
 (0.92, 0.0),
 (0.93, 0.0),
 (0.9400000000000001, 0.0),
 (0.9500000000000001, 0.0),
 (0.9600000000000001, 0.0),
 (0.97, 0.0),
 (0.98, 0.0),
 (0.99, 0.0)]

In [63]:
mycutoff=cutoffs[KS_all==max(KS_all)][0]
mycutoff

0.5800000000000001

In [65]:
test_score=logr.predict_proba(test)[:,1]
test_score

array([0.64998883, 0.64505196, 0.6468535 , ..., 0.5072458 , 0.6114119 ,
       0.40161678], dtype=float32)

In [66]:
test_classes=(test_score>mycutoff).astype(int)

In [138]:
final1=pd.concat([UID,test_cl1],axis=1)

In [142]:
final1.columns=['UniqueID','loan_default']

In [134]:
test_cl1=pd.DataFrame(test_classes)

In [144]:
pd.DataFrame(final1).to_csv("Shraddha1.csv",index=False)